apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: redhat-ods-applications
resources:
  - https://github.com/opendatahub-io/models-as-a-service.git//deployment/base/maas-controller/default?ref={{ ocp_4_20_ai_maas_maas_controller_ref }}
